@use 'helpers' as h;
.rombo {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  border-radius: 4px;
  cursor:pointer;
  border: 4px solid var(--logo-header);

  @include h.romboBorder;

  a {
    width: 100%;
    height: 100%;
    @include h.FlexCenter;
    font-family: 'Source Sans Pro', sans-serif;
    transform: rotate(-45deg);
    font-size: x-large;
    transition: all 0s ease-in-out;
    @include h.styleTagA;
    color: var(--logo-header);
  }
}
.rombo:hover {
  border: 4px solid var(--logo-header-hover);
  @include h.romboBorder;
  a {
    color: var(--logo-header-hover);
  }
}
