@use "_helpers" as h;
@import "_colors";


:host {
  display:flex;
  flex-direction: column;
  width:100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  margin-top:10vh;

  h1{
    font-size: 40px;
    margin-top:5%;
    font-family: 'Unbounded', cursive;
    color:white;
  }

}
.content {
  width:80%;
  height: 80%;
  margin:3%;
  padding:2%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 40%);
  background-color: white;
  section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;

    h2 {
      margin: 10% 0 5%;
      color: white;
      text-align: center;
    }
    h4 {

    }
    @media (min-width: 700px) {
      padding:5%;
    }
  }

  .container-logos {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:5%;

    figure {
      border-radius:8px;
      cursor:pointer;
      @include h.BorderAndShadow;
      border-radius: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding:8px;
      background-color: h.$grayBackground;
    }
    img {
      height: 40px;
      @media (min-width: 700px) {
        height: 50px;
      }
    }

    figure:hover {
      box-shadow: 2px 5px 8px h.$greenShadow ;
      transition: 0.4s;
    }
  }

  .avatar {
    border-radius: 50%;
    z-index:1;
    object-fit: cover;
    height: 200px;
    box-shadow: 2px 5px 10px h.$greenShadow ;
    @media (min-width: 700px) {
      height: 350px;
      position: relative;
    }
  }

  @media (min-width: 700px) {
    flex-direction: row;
    width:max-content;
  }
}
