<div class="content">
  <figure>
    <img class="avatar" src="assets/img/photo.jpeg" alt="avatar" />
  </figure>

  <section>
    <h1>Portfolio</h1>
    <h3>
      Hello! I'm Shirley Aguilar
    </h3>
    <h4>  Web developer</h4>
  </section>
</div>

<div class="container-logos">
    <figure  matTooltip="Curriculum vitae">
      <i class="ri-folder-user-line"></i>
    </figure>
    <figure matTooltip="Git repository">
      <i class="ri-github-fill"></i>
    </figure>
    <figure matTooltip="Linkedin profile">
      <i class="ri-linkedin-fill"></i>
    </figure>
</div>
