@use "_helpers" as h;

:host {
  width:100%;
  height: 600vh;
}
:host ::-webkit-scrollbar:vertical {
  width:10px;
}

.introduction {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 700px) {
    display:grid;
    grid-template-columns: 55% 45%;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 40% 60%;
  }
  @include h.marginSection;

  figure {
    height:250px;
    width: 250px;
    @include h.FlexCenter;
    animation: fadeInLeft 4s 5s ease-in-out;
    @media (min-width: 700px) {
      height:400px;
      width: 400px;
    }

    @media (min-width: 1000px) {
      height:500px;
      width: 500px;
    }

    img {
      height:100%;
      width:100%;
      object-fit: cover;
      border-radius: 50%;

    }
  }

  section {
    height: fit-content;
    font-size: large;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding:8px;
    border-radius: 8px;
    animation: fadeInRight 4s 5s ease-in-out;

    h1 {
      font-size: 24px;
      margin: 16px 0;
      ::ng-deep {
        .title {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 900 !important;
        }
      }
    }

    h3 {
      font-family: 'Source Sans Pro', sans-serif;
      color: var(--subtitle-color)
    }
    h4 {
      color: var(--text-color);
    }

    @media (min-width: 800px) {
      h1 { font-size: 56px }

      h3 { font-size: 40px }

      h4 { font-size: 24px }
    }

    @media (min-width: 1100px) {
      h1 { font-size: 64px }

      h3 { font-size: 48px }

      h4 {
        margin:8px 0;
      }
    }
  }
}


.about {
  @include h.marginSection;

}
.skills {
  @include h.marginSection;
}

.contact-me {
  @include h.marginSection;
}
