<figure
  routerLink = "/"
  matRipple
  [matRippleCentered]="true"
  class="logo"
>
  <img
    src="assets/img/logo-white.png"
    alt="white logo "
  >
</figure>

<nav
  #list
  [ngClass]="{ 'nav-desktop': expansionPanel, 'nav-mobile': !expansionPanel }"
>

  <li
    *ngFor="let section of sections"
    [routerLink]="section.split(' ').join('-')"
    matRipple
    [matRippleCentered]="true"
  >
    {{ section | titlecase }}
  </li>
</nav>

<figure  class="container-symbol">
  <i
    (click)="showNav(list)" class="ri-stack-line ri-3x"
    matRipple
    [matRippleCentered]="true"
  ></i>
</figure>

<section class="container-logos">
  <figure  matTooltip="Curriculum vitae"
           matTooltipPosition= left
  >
    <i class="ri-folder-user-line ri-2x"
       matRipple
       [matRippleCentered]="true"></i>
  </figure >

  <figure matTooltip="Git repository "
          matTooltipPosition= left

  >
    <i class="ri-github-fill ri-2x"
       matRipple
       [matRippleCentered]="true"></i>
  </figure>
  <figure matTooltip="Linkedin profile"
          matTooltipPosition= left
  >
    <i class="ri-linkedin-fill ri-2x"
       matRipple
       [matRippleCentered]="true"></i>
  </figure>
</section>

<section class="scroll-up"
         *ngIf = "showScroll"
         (click)="onScrollTop()"
>
  holi
</section>
