@use "_helpers" as h;

:host {
  display:flex;
  justify-content: space-between;
  align-items: center;
  @include h.BorderAndShadow;
  background-color: h.$yellowColor;
  height: 10vh;
  width: 100%;
  position:fixed;
  top: 0;
  padding: 0 5%;
  figure {
    height:8vh;
    border-radius:8px;
    img {
      height:100%;
      transition:0.2s;
      cursor:pointer;
    }

  }
  figure:first-child:hover {
    box-shadow: 3px 3px 5px rgba(224, 224, 224, 0.59);
    @include h.BorderAndShadow;
  }

}

.container-symbol {
  i {
    color: white;
    cursor: pointer;
  }

  i:hover {
    color: h.$letterColor;
  }
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  top: 10vh;
  width: 100vw;
  left: 0;
  height: 0;
  position: inherit;

  li {
    @include h.FlexCenter;
    @include h.Li;
    width: 100%;
    visibility: hidden;
    height: 16%;
    position: relative;
    z-index: 4;
    color: h.$letterColor;
  }

  li:hover {
    background-color: h.$transparentColor;
    cursor: pointer;
    color: white;
    @include h.LiHover;
  }
}


.show-items {
  height:100%;
  transition: 0.4s;
  display:flex !important;
  li {
    visibility: visible;
  }
}

.nav-desktop {
  width: 50%;
  display: none;
  justify-content: flex-end;
  align-items: center;
  transform: translate(35%, 0);
  animation: slide 2s 1 linear;

  li {
    width: 20%;
    color: white;
    text-align: center;
    padding: 16px 0;
    @include h.Li;
    @media (min-width: 700px) {
      border-bottom: 2px solid transparent;
    }
    @media (min-width: 1200px) {
      font-size: large;
    }
  }

  li:hover {
    transition: 0.2s;
    color: black;
    border-bottom: 1px solid h.$letterColor;
    cursor: pointer;

  }
}

@keyframes slide {
  from {
    transform: translate(10%, -50%);
  }
  to {
    transform: translate(35%, 0%);
  }
}
