<div class="nav animate__animated animate__fadeInDown animate__delay-6s">
  <app-logo></app-logo>

  <div class="container-btn-light">
    <i
      [ngClass]="{
     'ri-moon-fill ri-xl': theme === 'light-theme2',
     'ri-sun-fill ri-2x': !(theme === 'light-theme2')
     }"
      (click) = "switchTheme()"
    ></i>
  </div>

  <nav
    #list
    [ngClass]="{ 'nav-desktop': expansionPanel, 'nav-mobile': !expansionPanel }"
  >

    <li
      *ngFor="let section of sections"
      matRipple
      [matRippleCentered]="true"
    ><a [href]="'#'+ section.split(' ').join('-')">
      {{ section | titlecase }}
    </a>
    </li>
  </nav>

  <figure  class="container-symbol">
    <i
      [hidden] = "expansionPanel"
      (click)="showNav(list)" class="ri-stack-line ri-2x"
      matRipple
      [matRippleCentered]="true"
      matTooltip="Menu"
    ></i>
  </figure>
</div>


<section class="container-logos">
  <ng-container *ngFor="let item of items">
    <a [href]="item.link" target="_blank">
      <figure  [matTooltip]="item.tooltip"
               matTooltipPosition= left
      >
        <i [class]="item.icon"
           matRipple
           [matRippleCentered]="true"></i>
      </figure >
    </a>
  </ng-container>
</section>

<section class="scroll-up"
         *ngIf = "showScroll"
         (click)="onScrollTop()"
>
  holi
</section>
