@use "_helpers" as h;

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 5%;
  z-index: 5;
  border-bottom: solid 1px rgba(125, 126, 154, 0.3);
  box-shadow:
    0px 14px 12px -3px rgba(52, 52, 52, 0.11)
;
  animation: fadeInDown 3s 5s ease-in-out;
}
app-logo {
  height: 5vh;
  width:5vh;
}

.container-symbol {
  @include h.iconStyle;
}

.container-btn-light {
  @include h.iconStyle;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 10vh;
  width: 100vw;
  left: 0;
  height: 0;
  position: inherit;
  z-index: 11;

  li {
    @include h.FlexCenter;
    @include h.Li;
    width: 100%;
    visibility: hidden;
    height: 16%;
    position: relative;
    z-index: 11;
    color: var(--subtitle-color);
  }

  li:hover {
    cursor: pointer;
    color: var(--btn-color-hover);
  }
}

.show-items {
  height: 100%;
  transition: 0.4s;
  display: flex !important;
  li {
    visibility: visible;
  }
}

.nav-desktop {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(26%);

  li {
    width: 20%;
    color: var(--subtitle-color);
    text-align: center;
    padding: 16px 0;
    @include h.Li;
    @media (min-width: 800px) {
      border-bottom: 2px solid transparent;
    }
    @media (min-width: 1200px) {
      font-size: large;
    }

    &:hover {
      color: var(--btn-color-hover);
      border-bottom: 1px solid var(--btn-color-hover);
      cursor: pointer;
    }
  }

}

@keyframes fadeInDown {
  from {
    transform: translateY(-90%);
  }
  to {
    transform: translateY(0%);
  }
}


.container-logos {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 15%;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: 700px) {
    flex-direction: column;
    height: 25%;
    right: 5%;
    width: 60px;

  }
  animation: fadeInUp 3s 5s ease-in-out;

  a {
    text-decoration:none;
    figure {
      @include h.FlexCenter;

      i {
        @include h.FlexCenter;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: var(--btn-color);
      }

      i:hover {
        color: var(--btn-color-hover);
      }
    }
  }

}

.scroll-up {
  position: fixed;
  bottom: 0;
  width: 60px;
  height: 5%;
  z-index: 10;
  left: 50%;
}
