@use "_helpers" as h;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 5%;

 .rombo {
   width: 5vh;
   height: 5vh;
   transform: rotate(45deg);
   border-radius: 2px;
   color: var(--btn-color);
   cursor:pointer;
   border: 4px solid var(--btn-color);

   @include h.romboBorder;

   div {
     width: 100%;
     height: 100%;
     @include h.FlexCenter;
     font-family: 'Source Sans Pro', sans-serif;
     transform: rotate(-45deg);
     font-size: x-large;
     transition: all 0s ease-in-out;
   }
 }
  .rombo:hover {
    color: var(--btn-color-hover);
    border: 4px solid var(--btn-color-hover);
    @include h.romboBorder;
  }
}

.container-symbol {
  @include h.iconStyle;
}
.container-btn-light {
  @include h.iconStyle;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-color);
  top: 10vh;
  width: 100vw;
  left: 0;
  height: 0;
  position: inherit;
  z-index: 11;

  li {
    @include h.FlexCenter;
    @include h.Li;
    width: 100%;
    visibility: hidden;
    height: 16%;
    position: relative;
    z-index: 11;
    color: var(--btn-color);
  }

  li:hover {
    cursor: pointer;
    color: var(--btn-color-hover);
    @include h.LiHover;
  }
}

.show-items {
  height: 100%;
  transition: 0.4s;
  display: flex !important;
  li {
    visibility: visible;
  }
}

.nav-desktop {
  width: 50%;
  display: none;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(26%);
  animation: slide 1s 1 linear;

  li {
    width: 20%;
    color: var(--btn-color);
    text-align: center;
    padding: 16px 0;
    @include h.Li;
    @media (min-width: 800px) {
      border-bottom: 2px solid transparent;
    }
    @media (min-width: 1200px) {
      font-size: large;
    }
  }

  li:hover {
    color: var(--btn-color-hover);
    border-bottom: 1px solid var(--btn-color-hover);
    cursor: pointer;
  }
}

@keyframes slide {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(26%);
  }
}

.container-logos {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 15%;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  @media (min-width: 700px) {
    flex-direction: column;
    height: 25%;
    right: 5%;
    width: 60px;
  }

  figure {
    @include h.FlexCenter;
    i {
      @include h.FlexCenter;
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      color: var(--btn-color);
    }

    i:hover {
      color: var(--btn-color-hover);
    }
  }
}

.scroll-up {
  position: fixed;
  bottom: 0;
  width: 60px;
  height: 5%;
  z-index: 10;
  left: 50%;
}
