<app-logo></app-logo>

<div class="container-btn-light">
  <i
     [ngClass]="{
     'ri-moon-fill ri-xl': theme === 'light-theme',
     'ri-sun-fill ri-2x': !(theme === 'light-theme')
     }"
     (click) = "switchTheme()"
  ></i>
</div>

<nav
  #list
  [ngClass]="{ 'nav-desktop': expansionPanel, 'nav-mobile': !expansionPanel }"
>

  <li
    *ngFor="let section of sections"
    [routerLink]="section.split(' ').join('-')"
    matRipple
    [matRippleCentered]="true"
  >
    {{ section | titlecase }}
  </li>
</nav>

<figure  class="container-symbol">
  <i
    [hidden] = "expansionPanel"
    (click)="showNav(list)" class="ri-stack-line ri-2x"
    matRipple
    [matRippleCentered]="true"
    matTooltip="Menu"
  ></i>
</figure>

<section class="container-logos">
  <figure  matTooltip="Curriculum vitae"
           matTooltipPosition= left
  >
    <i class="ri-folder-user-line ri-2x"
       matRipple
       [matRippleCentered]="true"></i>
  </figure >

  <figure matTooltip="Git repository "
          matTooltipPosition= left

  >
    <i class="ri-github-fill ri-2x"
       matRipple
       [matRippleCentered]="true"></i>
  </figure>
  <figure matTooltip="Linkedin profile"
          matTooltipPosition= left
  >
    <i class="ri-linkedin-fill ri-2x"
       matRipple
       [matRippleCentered]="true"></i>
  </figure>
</section>

<section class="scroll-up"
         *ngIf = "showScroll"
         (click)="onScrollTop()"
>
  holi
</section>
