$greenColor: #a5bfc1;
$redColor: #DC3545;
$grayColor: #E9ECEF;
$grayBlackColor: #9F9F9F;
$greenShadow: #99c8cc;
$grayBackground : #D8DADF;
$blueColor:#094F77;

$yellowColor: #F8B500;
$letterColor: #4F4F4F;
$transparentColor: rgba(79, 79, 79, 0.63);
