$greenColor: #a5bfc1;
$redColor: #DC3545;
$grayColor: #E9ECEF;
$grayBlackColor: #9F9F9F;
$greenShadow: #99c8cc;
$grayBackground : #D8DADF;

$yellowColor: #A75D5D;
$letterColor: #4F4F4F;


$transparentColor: rgba(0, 0, 0, 0.71);

//Theme colors
$pinkColor: #FB2576;
$purpleColor : #3F0071;
$blueColor: #150050;

