<p>portfolio works!</p>
<p>Hi! I am a passionate frontend developer with a heart for Obstetrics. I have experience in web projects using Javascript, Angular, and Node.js. I am focused on working in agile teams and a continuous learning environment. My expertise includes developing responsive interfaces and solving logical problems. My goal is to propose and develop software solutions with high usability to provide a great user experience. Don't hesitate to contact me to see how I can contribute to your team!</p>

